<table style="width:90%;margin:0px auto;">
<tr>
	<th><{$block.col1}></th>
	<th><{$block.col2}></th>
	<th><{$block.col3}></th>
</tr>
<{foreach item=page from=$block.page}>
	<tr class="<{$page.style}>" style='height:24px;'>
		<td><a href="<{$xoops_url}>/modules/tadnews/index.php?ncsn=<{$page.ncsn}>"><{$page.cate_name}></a></td>
		<td><{$page.need_sign}><{$page.prefix_tag}> <a href="<{$xoops_url}>/modules/tadnews/<{$page.index}>?nsn=<{$page.nsn}>"><{$page.news_title}></a></td>
		<td style='text-align:right;padding-right:6px;'><{$page.counter}></td>
	</tr>
<{/foreach}>
</table>
