<{$toolbar}>
<{$css}>

<{$del_js}>

<table style='width:<{$div_width}>px;'>
<tr><td><{$path}></td></tr>
<tr><td align="center" colspan=2 style="background-color: #F9F9F9;padding:10px 0px;"><{$pic180}></td></tr>
<tr><td align="left"><{$push}></td><td align="right" nowrap><{$sel_size}></td></tr>
<tr><td colspan=2><{$tabs}></td></tr>
</table>

<{$facebook_comments}>

<p style="clear: both">
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
</p>
